

<footer class="bg-palette-primary p-10 text-center">
<h6 class="text-white">Judy Essam</h6>
<h6 class="text-white">@2024</h6>
</footer>

<script defer src='/scripts/main.js'></script>
</div>
    
</body>
</html>