<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>P&M Hub</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/displays/favicon.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/output.css'>
    <!-- <script defer src='/scripts/main.js'></script> -->
</head>
<body>

<div class="container">
<div id="nav" class="bg-palette-background p-[10px] pl-5 pr-5 flex">
    <!-- <h1 class="text-palette-primary text-[20px] text-left font-extrabold flex-1">Everything P&M</h1> -->
     <img class="w-[2.5rem]" src="/displays/jet-engine.png">
    <ul class=" text-palette-primary items-center flex flex-1">
        <li class="menu-items"><a href="">Motors</a></li>
        <li  class="menu-items"><a href="">Generators</a></li>
        <li  class="menu-items"><a href="">Transformers</a></li>
    </ul>
    <button class="bg-palette-primary rounded-lg p-2 font-bold border-white text-white hover:bg-orange-800">Take quiz!</button>
</div>

