<%- include('header.ejs') %>

<div>
   <h1>Machine</h1>
    <div>
        <img src="/displays/alternator.png">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Corrupti, fugit minima. Dicta, mollitia voluptatum est possimus architecto similique totam saepe nemo ipsum sint
           quos quidem tenetur corrupti sapiente consectetur voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing 
           elit. Id beatae officia, ullam sapiente et qui soluta magni officiis pariatur corrupti voluptas quas, illo nemo quos mollitia neque excepturi,
           harum incidunt.</p>
    </div>
</div>

<!-- 
each machine page should have:
    - the title of the machine
    - the theory of operation
    - the construction
    - the applications
    - a video

    - the calculator
    - extra: a mini quiz

-->

<%- include('footer.ejs') %>