<%- include('header.ejs') %>

    <div class="p-6 flex flex-col items-center">
        <img class="w-[50%]" src="/displays/WIP.png">
        <h1 class="font-bold text-[50px] text-palette-primary">Sorry! This is still a work in progress.</h1>
    </div>








<%- include('footer.ejs') %>